.center_content{

    margin: 0 auto;
    padding: 0 2%;
    display: flex;
}

.conteudo{
    display: flex;
    align-items: center;
    align-self: center;
    justify-content: space-between;
    padding-top: 50px;

};

